@page
@model IndexModel
@{
    <h1>Books</h1>
    <ul>
        @foreach (var book in Model.Books)
        {
            <li>
                @book.Title
                <ul>
                    <li>@book.Author</li>
                    <li>@book.Description</li>
                </ul>
            </li>
        }
    </ul>

}